
$grid-gap-base-unit: 5px;
$grid-gap-max-times-multiplier: 4; //max number of times the base unit will be multiplied for.

$transition-speed-base-unit: 0.05s;
$transition-speed-max-times-multiplier: 5; //max number of times the base unit will be multiplied for.

$card-box_shadow_length-base-unit: 6px;
$card-box_shadow_length-max-times-multiplier: 5; //max number of times the base unit will be multiplied for.

$card-hover-scale-base-unit: 1.05;
$card-hover-scale-base-unit-step: 0.05;
$card-hover-scale-max-times-multiplier: 5; //max number of times the base unit will be multiplied for.

$grid-columns-length-default : 4; //default number of columns for the bento-grid
$grid-rows-length-default : 4; //default number of rows for the bento-grid

$checkbox-border-color: #00a2ff;

:export{
    cardHoverScale: $card-hover-scale-base-unit;
}